@media (min-width: 1024px){
    
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 210px;
        height: 100vh;
        background-color: #ecfdf5;
        border-right: solid 1px #064e3b;
    }
    main{
        margin-left: 210px;
    }
}

body{
   
}
a{
    color: #064e3b;
}
a:hover{
    color: #34d399;
}

main{
    padding: 15px 40px;
}
table{
    width: 100%;
}
td, th{
    border-bottom: solid 1px #064e3b;
}
tr:nth-child(2n+1):hover th{
    background-color: #fff;
}
tr:nth-child(2n+1):hover{
    background-color: #ecfdf5;
}
form > div{
    display: flex;
    padding: 5px 0;
    gap: 15px;
} 
input{
    flex-grow: 12;
}
